@import '~antd/dist/antd.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  max-width: 1000px;
}

.flex-item {
  padding: 5px;
  margin: 10px;
  line-height: 20px;
  text-align: center;
}

img.logo {
  width: 300px;
}

input + input, span + input {
  margin-left: 10px;
}
